@charset "utf-8";
/* CSS Document */
/*------------------linknav--------------------*/
.linknav {
    height: 20px;
    line-height: 20px;
    margin: 10px auto;
    overflow: hidden;
    width: 1200px;
}
.linknav strong {
    font-size: 16px;
    padding: 0px 7px 0px 10px;
}
.linknav span a{font-style:"宋体";margin-right:10px;display:inline-block;}

/*-------------pWrap-----------------*/
.pWrap{width: 1200px;margin: 0px auto 10px;overflow:hidden;}
.pItems{float: left;width: 978px;background-color: rgb(251, 251, 251);box-shadow: rgb(199, 199, 199) 0px 0px 4px;position: relative;z-index: 2;}
.pItemsMain {float: left;width: 568px;}
.pView {float: left;width: 410px;position: relative;background-color: white;height: 410px;z-index: 92;}
#pView{left: 10px;position: absolute;top: 20px;z-index: 100;width: 390px;margin-bottom: 20px;}

.pShare{position:absolute;top:370px;border-top:1px solid rgb(239, 239, 239);width:390px;margin:0px 10px;zoom:1;}

#bdshare{overflow: hidden;z-index:999999;padding-bottom:2px;font-size:12px;float:left;text-align:left;zoom: 1;}
#bdShare a{display: block;height: 16px;float: left;padding-top: 6px;padding-bottom: 3px;padding-left: 22px;}
.bds_qzone{background:url(img/is.png) no-repeat 0 -75px;}
.bds_tsina{background:url(img/is.png) no-repeat 0 -115px;}
.bds_tqq {background:url(img/is.png) no-repeat 0 -235px;}
.bds_renren {background:url(img/is.png) no-repeat 0 -195px;}

.pCollect {float: right;padding: 8px 0px 0px 20px;color: rgb(108, 156, 10);cursor: pointer;background: url(img/productinfo.png) -68px 11px no-repeat;height: 20px;}
span.bds_more{background: url(img/is.png) no-repeat 0 5px;display: block;height: 16px;float: left;cursor: pointer;padding-top: 6px;padding-bottom: 3px;padding-left: 22px;}

/*放大镜主体部分*/
.jqzoom {padding: 0px;position: relative;float: right;width:330px;height:330px;}
.jqzoom .normal{width:330px;height:330px;display:block;border:none;}
.zoomdiv {background:rgb(255, 255, 255);border: 1px solid rgb(228, 228, 228);display:none;height: 330px;left: 400px;overflow: hidden;position: absolute;text-align: center;top: 0px;width:500px;z-index: 8;}
.zoomdiv .fangda{width:660px;height:660px;display:block;border:none;}
.suoxiao{width:50px;height:50px;display:block;border:none;}
.pic-list-sm{height:340px;overflow:hidden;position:relative;width:50px;margin-right:10px;float:left;padding:0;}

/*-----放大镜小图------*/
.sm-upbt{display:block;width:19px;height:10px;background:url(img/productinfo.png) no-repeat -30px 0;margin:0 auto 10px;}
.sm-downbt{display:block;width:19px;height:10px;background:url(img/productinfo.png) no-repeat -49px -10px;margin:10px auto 0;}
.sm-pic-list{height:300px;width:50px;position:relative;background:;overflow:hidden;}
.sm-pic-list ul{position:absolute;z-index:2;left:0;top:auto;bottom:auto;width:52px;height:10000px}
.sm-pic-list li{width:50px;height:60px;float:left;}
.sm-pic-list .suoxiao:hover{border:1px solid rgb(105,175,5);}

/*-------------放大镜中间部分-----------------*/
.pItemsName .cm {padding:0px 15px;margin:10px 0px;height:60px;overflow:hidden;zoom:1;}
.cm .owner_shop {float:left;display:inline-block;width:37px;height: 18px;line-height:18px;background-color: rgb(111, 154, 9);border-radius: 3px;text-align:center;color:rgb(255, 255, 255);margin-top:7px;margin-right:5px;}
.pItemsName h2 {float: left;color:rgb(25, 28, 31);font-size:18px;line-height:30px;font-weight:bold;}
.pItemsName strong {color:rgb(250, 100, 0);font-size:18px;line-height:30px;font-weight:bold;}

.pItemsPrice{background-color: rgb(250, 142, 25);height: 90px;zoom: 1;margin-bottom: 10px;border-bottom: 3px solid rgb(221, 221, 221);}
.priceBox{float: left;overflow:hidden;zoom:1;color:white;}
.priceBox .dt{float:left;padding: 55px 0px 0px 30px;height:18px;line-height:18px;}
.priceBox .rmb {float: left;padding: 53px 0px 0px;height:18px;line-height:18px;font-size:18px;}
.priceBox strong{float: left;padding: 30px 0px 0px;font-size: 50px;height: 45px;line-height: 45px;}
.priceBox strong span{font-size: 24px;}
.boxWb{width: 5px;height: 96px;background: url(img/productinfo.png) -271px -121px no-repeat;position: absolute;right: -5px;}
.productStamp_1{position: absolute;width: 73px;height: 74px;right: 15px;background-color: red;top: 110px;background: url(img/productinfo.png) -74px -217px no-repeat;}
.cuxiao{margin-bottom:6px;padding:0 5px;}
.cufo{float:left;width:90px;text-align:right;line-height:25px;margin-top:5px;}
.cuxiao span{float:left;margin-top:5px;line-height:25px;background:rgb(111,154,9);color:#fff;padding:0 2px;margin-right:10px;}
.cuxiao a{float:left;margin-top:5px;line-height:25px;color:rgb(102,153,0);}
.cuxiao a:hover{color:rgb(250,150,0);}
.pItemsStock{padding:0 5px;margin-bottom:10px;width:568px;overflow:hidden;}
.addst{float:left;width:132px;padding-left:10px;border:1px solid #ccc;height:24px;line-height:24px;margin-top:5px;}
.addst b{display:block;height:24px;width:17px;float:right;background:url(img/header_logo.png) -386px -2px no-repeat;}
.chooseBtns{margin: 10px 0px;position:relative;height: 45px;}
.pAmount{width: 81px;float: left;margin-right: 10px;overflow: hidden;}
.pAmount span {float: left;}
.pAmount .numt{width: 53px;height: 43px;border: 1px solid rgb(218, 218, 218);overflow: hidden;font-size: 18px;text-align: center;line-height: 43px;color: rgb(107, 107, 107);}
.pAmount a {height:21px;width: 25px;border-top: 1px solid rgb(218, 218, 218);border-right: 1px solid rgb(218, 218, 218);text-align: center;line-height: 21px;display: block;text-decoration: none;cursor: pointer;color: rgb(107, 107, 107);font-size: 14px;overflow: hidden;}
.pItemsChoose {border-top: 1px solid rgb(239, 239, 239);padding-top: 10px;margin: 0px 20px;}
.pBtn{float:left;margin-right:10px;}
.pBtn a {width: 130px;height: 45px;background-color: rgb(102, 153, 0);display: block;border-radius: 2px;text-align: center;padding: 0px 0px 0px 30px;color: white;font-size: 18px;line-height: 45px;position: relative;cursor: pointer;}
.pBtn a b {position: absolute;top: 12px;left: 18px;width: 22px;height: 20px;background: url(img/productinfo.png) -269px -72px no-repeat;display: block;}
.phone_client {cursor: pointer;position: relative;float: left;width: 124px;height: 40px;border: 1px solid rgb(221, 221, 221);border-image-source: initial;border-image-repeat: initial;background: url(img/phone.jpg) 10px 50% no-repeat rgb(251, 251, 251);padding-left: 34px;padding-top: 3px;color: rgb(86, 86, 86);}

/*-----------------放大镜右边部分----------------------------*/
.pItemsSide{float: right;width: 222px;overflow: hidden;background-color: rgb(255, 255, 255);position: relative;z-index: 1;}
.points{padding-top: 20px;margin: 0 10px;overflow: hidden;}
.points ul {width: 204px;border-bottom: 1px dashed #e8e8e8;overflow: hidden;zoom: 1;}
.points ul li {float: left;width: 67px;border-right: 1px dashed #e8e8e8;height: 65px;text-align: center;}

.pdetail{padding: 10px;margin: 0 10px;border-top: 1px solid #efefef;}
.pdetail ul li {height: 16px;line-height: 16px;margin-bottom: 8px;overflow: hidden;}
.pdetail ul li.card-pay {height: 25px;width: 182px;position: relative;border: 1px solid rgb(227, 227, 227);border-radius: 10px;font-family: 微软雅黑;}
.pdetail ul li.card-pay .card-pay-left {display: inline-block;color: #fff;position: absolute;left: 0px;background: #ee4040;border-radius: 10px;padding: 0px 8px;line-height: 25px;font-style: italic;}
.pdetail ul li.card-pay .card-pay-right{display: inline-block;color: #669900;position: absolute;left: 64px;line-height: 25px;}
.nosupport {height: 23px;border: 1px solid #e3e3e3;border-radius: 10px;position: relative;padding: 0 0 0 23px;line-height: 23px;background-color: #fbfbfb;color: #969696;}
.nosupport b{position: absolute;width: 13px;height: 14px;background: url(../img/productinfo.png) no-repeat -173px -28px;top: 5px;left: 5px;}

.pcommdetail{padding-bottom: 10px;border-top: 1px solid #efefef;}
.prate{padding: 5px 10px 0 20px;overflow: hidden;zoom: 1;}
.pcomment {padding: 0 20px;}
.prate dt{font-weight: bold;float: left;line-height: 30px;}
.prate dd{display: block;overflow: hidden;zoom: 1;}
.prate dd .dd{float: left;width: 80px;height: 8px;background-color: #f9b872;margin: 12px 5px 0 5px;overflow: hidden;}
.prate dd .dd span{height: 8px;background-color: #f9a345;display: block;overflow: hidden;}
.prate dd strong{color: #fa8200;overflow: hidden;zoom: 1;line-height: 30px;}

.pcomment dd div {border: 1px solid #f8cd9e;padding: 8px 10px;}
.pcomment dd div span {display: block;line-height: 20px;height: 60px;overflow: hidden;ss}

/*-------------内容介绍及详详详详详详详情-------------*/
.gwd_inner_lowprice {width:1118;height: 318px;border: 1px solid #ddd;background-color: #fff;margin-bottom: 10px;display: inline-block;}
.gwd_inner_head{height: 52px;position: relative;}
.gwd_inner_content{width: 100%;}
.gwd_inner_head .site_icon{display: inline-block;position: absolute;top: 18px;left: 18px;height: 21px;width: 24px;background: url(img/goulogo.png) no-repeat;}
.big_title {display: inline-block;margin-top: 21px;height: 16px;line-height: 16px;margin-left: 51px;font-size: 14px;font-weight: bold;}
.small_title{font-size: 12px;margin-left: 12px;}
a.gwd_inner_page{position: absolute;right: 20px;top: 20px;font-size: 12px;margin-left: 12px;}
span.cur_page {font-size: 12px;margin-left: 12px;}
a.inner_page_left, .inner_page_right {width: 62px;display: inline-block;height: 170px;cursor: pointer;}
.inner_pro_list{float: left;}
.inner_page_right{width: 62px;display: inline-block;height: 170px;cursor: pointer;}
.gwd_inner_lowprice ul li {float: left;margin-left: 20px;margin-right: 20px;height: 264px;list-style: none;}
.gwd_inner_lowprice ul li .item_img {display: inline-block;height: 172px;width: 172px;border: 1px solid #f1f1f1;position: relative;box-sizing: border-box;}
.gwd_inner_lowprice ul li .item_img  img{height: 170px;width: 170px;}
.inner_dp_desc {width: 170px;margin-top: 10px;}
.inner_dp_desc .dp_title {color: #595757;font-size: 12px;display: inline-block;width: 170px;height: 36px;line-height: 18px;overflow: hidden;}
.small_desc{margin-top: 6px;display: inline-block;height: 36px;width: 170px;cursor: text;}
.small_desc .site_icon{display: inline-block;width: 21px;height: 18px;float: left;}
.small_desc .new_price{font-size: 14px;color: #d80000;float: left;}

















